*
{
    margin: 0;
    padding: 0;
    background-color: rgba(21, 21, 21, 0);
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
}
body
{
    color: #ffffff;
    background-image: url(14.jpg);
    background-repeat: repeat-y;
    background-size: 2100px;
    margin-bottom: 950px;
    background-position: top;
}
section
{
    position: relative;
    width: 100%;
    background-color: #00000000;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header
{
    position: absolute;
    font-family: 'Tw cen MT', sans-serif;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    background-color: #00000000;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
}
header .logo
{
    /*right: -90%; */
    position: absolute;
    top: 10px;
    background-color: #00000000;
    max-width: 200px;
}
header ul
{
    position: relative;
    display:flex;
    left: -336px;
    background-color: #00000000;
}
header ul li
{
    list-style: none;
    background-color: #00000000;
}
header ul li a
{
    display: inline-block;
    background-color: #00000000;
    color: rgb(193, 193, 193);
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}
header ul li a:hover
{
    transition: 0.3s;
    display: inline-block;
    background-color: #00000000;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}
.sci
{
    position: absolute;
    background-color: #00000000;
    top: 4.2%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.sci li
{
    list-style: none;   
    background-color: #00000000;
}
.sci li a
{
    display: flex;
    background-color: #00000000;
    margin: 0px 0;
    transform: scale(0.3);  
}
.text
{
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    margin-left: 486px;
    margin-top: -330px;
    text-align: center;
    background-color: #00000000;
}
.text span
{
    padding: 20px 0px;
    position: relative;
    margin: 0%;
    left: 3%;
    top: 40%;
    color: #ff8000;
    background-color: #00000000;
    font-size: 4em;
    font-weight: 900;
    
}
.text p
{
    padding-left: 20px;
    font-size: small;
    color: #b8b8b8;
    background-color: #00000000;
}
.btg
{
    display: flex;
    position: absolute;
    width: 1451px;
    height: auto;
    list-style: none;
    top: 323px;
    left: 34px;
    backdrop-filter: blur(14px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
.card
{
    position: relative;
    width: 350px;
    height: 490px;
    background-color: black;
    border-radius: 20px;
    margin: 30px;
    overflow: hidden;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}
.card .poster
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.card .poster::before
{
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#101010c5 25% ,transparent);
    transition: 0.5s;
    z-index: 1;
}
.card:hover .poster::before
{
    bottom: 0px;
}
.card .poster img
{
    width:120%;
    transition: 0.5s;
}
.card:hover .poster img
{
    transform: translateY(-50px);
    filter: blur(5px) opacity(0.5);
}
.card .details
{
    position: absolute;
    bottom: -236px;
    left: 0;
    padding: 25px;
    width: 100%;
    z-index: 2;
    transition: 0.8s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card:hover .details
{
    bottom: 0px;
}
.card .details h3
{
    color: rgb(240, 252, 255);
    font-size: 35px;
    font-weight: 900;
}
.card .details h4
{
    color: rgb(240, 252, 255);
    font-size: 18px;
    font-weight: 700;
    padding-top: 30px;
    transition: 0.5s;
}
.card:hover .details h4
{
    padding-top: 0px;
}
.card .details h2
{
    color: rgb(240, 252, 255);
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
}
.card .details p
{
    padding-top: 5px;
    color: rgb(240, 252, 255);
    font-size: 15px;
    font-weight: 400;
}
.card .details button
{
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
    padding: 9px 15px;
    background-color: #191919;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(172, 172, 172, 0.249);
}
/* 
.btg .img
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 23px;
    margin-top: 60px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.btg .img:hover
{
    transition: 0.5s;
    transform: scale(1.1);
}
.btg .img img
{
    height: 500px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid #5a5a5a;

}
.para
{
    position: absolute;
    font-size: 25px;
    font-weight: 900;
    color: #ffffff;
    background: #00000000;
    padding: 234px 133px;
    border-radius: 13px;
    margin: 6px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0;
    transition: 0.8s;
}
.para:hover
{
    opacity: 1;
    transition: 0.5s;
} */
.boxs
{  
    position: absolute;
    background: url(moz.png);
    background-size: 700px;
    background-position: center;
    background-color: #151515;
    width: 669px;
    height: 348px;
    top: 196px;
    left: 44px;
    border-radius: 21px;
}
.btg .boxz
{  
    position: absolute;
    background-color: #151515;
    width: 669px;
    height: 348px;
    top: 196px;
    left: 740px;
    border-radius: 21px;
}
.btg .bt
{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 235px;
    position: absolute;
    padding: 16px 46px;
    background: #2b2b2b1a;
    backdrop-filter: blur(30px);
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff2d;
    border-radius: 87px;
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}
.btg .bt:hover
{
    transition: 0.7s;
    text-decoration: none;
    background: #ff5100;
    color: rgb(255, 255, 255);
}
footer
{
    width: 1522px;
    height: 450px;
    position: absolute;
    top: 2670px;
    left: 0px;
    background-color: #151515;
}
footer .see
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    padding-top: 86px;
    padding-left: 150px;
    color: white;
}
footer .spe
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 165px;
    left: 206px;
    color: white;
}
footer .spe2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 243px;
    left: 206px;
    color: white;
}
footer .spe3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 323px;
    left: 206px;
    color: white;
}
footer .in
{
    list-style: none;
    padding-left: 144px;
    padding-top: 18px;
}
footer .follow
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 190px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .follow2
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 270px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .follow3
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 345px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .co
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    top: 94px;
    left: 919px;
}
footer .mail
{
    position: absolute;
    list-style: none;
    top: 165px;
    right: 546px;
}
footer .mai
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 176px;
    left: 991px;
    color: white;
}
footer .arr
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: absolute;
    font-weight: 300;
    letter-spacing: 1px;
    top: 424px;
    left: 608px;
    color: #c9c9c9;
}
footer .dot
{
    position: absolute;
    right: 790px;
    top: 100px;
}