*
{
    margin: 0;
    padding: 0;
    background-color: rgba(21, 21, 21, 0);
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
}
body
{
    color: #ffffff;
    background-image: url(01.jpg);
    background-repeat: repeat;
    background-size: 1932px;
    margin-bottom: 950px;
    background-position: top;
}
section
{
    position: relative;
    width: 100%;
    background-color: #00000000;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header
{
    position: absolute;
    font-family: 'Tw cen MT', sans-serif;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    background-color: #00000000;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
}
header .logo
{
    /*right: -90%; */
    position: absolute;
    top: 10px;
    background-color: #00000000;
    max-width: 200px;
}
header ul
{
    position: relative;
    display:flex;
    left: -336px;
    background-color: #00000000;
}
header ul li
{
    list-style: none;
    background-color: #00000000;
}
header ul li a
{
    display: inline-block;
    background-color: #00000000;
    color: rgb(193, 193, 193);
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}
header ul li a:hover
{
    transition: 0.3s;
    display: inline-block;
    background-color: #00000000;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}
.sci
{
    position: absolute;
    background-color: #00000000;
    top: 4.2%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.sci li
{
    list-style: none;   
    background-color: #00000000;
}
.sci li a
{
    display: flex;
    background-color: #00000000;
    margin: 0px 0;
    transform: scale(0.3);  
}
.text
{
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    top: -250px;
    right: 700px;
    background-color: #00000000;
}
.text h2
{
    padding: 0px 20px;
    padding-top: 0px;
    background-color: #00000000;
    color: #c9c9c9;
    font-size: 20px;
    line-height: 1em;
    font-weight: 700;
}
.text span
{
    padding: 20px 0px;
    position: relative;
    margin: 0%;
    left: 3%;
    top: 40%;
    color: #2cc6c8;
    background-color: #00000000;
    font-size: 4em;
    font-weight: 900;
}
.text p
{
    padding-left: 20px;
    font-size: small;
    color: #b8b8b8;
    background-color: #00000000;
}
.btg
{
    position: absolute;
    width: 1451px;
    height: 600px;
    top: 624px;
    left: 30px;
    backdrop-filter: blur(12px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    list-style: none;
}
.btg .boxs
{
    position: absolute;
    background: url(moz.png);
    background-size: 700px;
    background-position: center;
    background-color: #151515;
    width: 669px;
    height: 348px;
    top: 196px;
    left: 44px;
    border-radius: 21px;
    border: 2;
}
.btg .boxz
{  
    position: absolute;
    background-color: #151515;
    width: 669px;
    height: 348px;
    top: 196px;
    left: 740px;
    border-radius: 21px;
}
.btg .b
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    position: absolute;
    color: #ffffffd9;
    left: 45px;
    top: 52px;
}
.btg .a
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    position: absolute;
    color: #ffffff;
    left: 747px;
    top: 52px;
}
.btg .lo
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    position: absolute;
    color: #d0d0d0;
    left: 747px;
    top: 130px;
    padding-right: 154px;
}
.btg .loo
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    position: absolute;
    color: #d0d0d0;
    left: 50px;
    top: 130px;
    padding-right: 954px;
}
.btg .boxs .button .bto
{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 282px;
    left: 237px;
    padding: 16px 46px;
    background: #2b2b2b1a;
    backdrop-filter: blur(30px);
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff2d;
    border-radius: 87px;
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
    position: absolute;
    cursor: pointer;
}
.btg .boxs .button .bto:hover
{
    transition: 0.7s;
    text-decoration: none;
    background: #ff5100;
    backdrop-filter: blur(1px);
    color: rgb(255, 255, 255);
}
.btg .boxz .bt
{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-top: 282px;
    left: 237px;
    padding: 16px 46px;
    background: #2b2b2b1a;
    backdrop-filter: blur(30px);
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff2d;
    border-radius: 87px;
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
    position: absolute;
    cursor: pointer;
}
.btg .boxz .bt:hover
{
    transition: 0.7s;
    text-decoration: none;
    background: #ff5100;
    color: rgb(255, 255, 255);
}
footer
{
    width: 1522px;
    height: 450px;
    position: absolute;
    top: 1280px;
    left: 0px;
    background-color: #151515;
}
footer .see
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    padding-top: 86px;
    padding-left: 150px;
    color: white;
}
footer .spe
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 165px;
    left: 206px;
    color: white;
}
footer .spe2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 243px;
    left: 206px;
    color: white;
}
footer .spe3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 323px;
    left: 206px;
    color: white;
}
footer .in
{
    list-style: none;
    padding-left: 144px;
    padding-top: 18px;
}
footer .follow
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 190px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .follow2
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 270px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .follow3
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 345px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .co
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    top: 94px;
    left: 919px;
}
footer .mail
{
    position: absolute;
    list-style: none;
    top: 165px;
    right: 546px;
}
footer .mai
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 176px;
    left: 991px;
    color: white;
}
footer .arr
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: absolute;
    font-weight: 300;
    letter-spacing: 1px;
    top: 424px;
    left: 608px;
    color: #c9c9c9;
}
footer .dot
{
    position: absolute;
    right: 790px;
    top: 100px;
}