*
{
    margin: 0;
    padding: 0;
    background-color: rgba(21, 21, 21, 0);
    box-sizing: border-box;
}
body
{   
    color: #00ffa8;
    background-image: url(img4.png);
    background-repeat: no-repeat;
    background-size: 1655px;
    background-color: #0f0f0f;
    margin-bottom: -208px;
    background-position: center;
}
section
{
    position: relative;
    width: 100%;
    background-color: #00000000;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header
{
    position: absolute;
    font-family: 'Tw cen MT', sans-serif;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    background-color: #00000000;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
}
header .logo
{
    /*right: -90%; */
    position: absolute;
    top: 10px;
    background-color: #00000000;
    max-width: 200px;
}
header ul
{
    position: relative;
    display:flex;
    left: -336px;
    background-color: #00000000;
}
header ul li
{
    list-style: none;
    background-color: #00000000;
}
header ul li a
{
    display: inline-block;
    background-color: #00000000;
    color: rgb(193, 193, 193);
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}
header ul li a:hover
{
    transition: 0.3s;
    display: inline-block;
    background-color: #00000000;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}
.sci
{
    position: absolute;
    background-color: #00000000;
    top: 4.2%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.sci li
{
    list-style: none;   
    background-color: #00000000;
}
.sci li a
{
    display: flex;
    background-color: #00000000;
    margin: 0px 0;
    transform: scale(0.3);  
}
.text
{
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    top: -250px;
    right: 700px;
    background-color: #00000000;
}
.text h2
{
    padding: 0px 20px;
    padding-top: 0px;
    background-color: #00000000;
    color: #c9c9c9;
    font-size: 20px;
    line-height: 1em;
    font-weight: 700;
}
.text span
{
    padding: 20px 0px;
    position: relative;
    margin: 0%;
    left: 3%;
    top: 40%;
    color: #00e199;
    background-color: #00000000;
    font-size: 4em;
    font-weight: 900;
}
.text p
{
    padding-left: 20px;
    font-size: small;
    color: #e3e3e3;
    background-color: #00000000;
}
.wh
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 25px;
    background: linear-gradient(45deg, #09203f, #537895);
    color: #e5e5e5;
    border-radius: 30px;
    position: absolute;
    top: 773px;
    right: 521px;
    padding: 11px 105px;
    letter-spacing: 1px;
    text-decoration: none;
}
.p
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #acacac;
    border-radius: 30px;
    position: absolute;
    top: 838px;
    right: 0;
    padding: 20px 13px;
    letter-spacing: 1px;
    text-align: center;
}
.wi
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 25px;
    background: linear-gradient(45deg, #09203f, #537895);
    color: #e5e5e5;
    border-radius: 30px;
    position: absolute;
    top: 994px;
    right: 517px;
    padding: 11px 64px;
    letter-spacing: 1px;
    text-decoration: none;
}
.p2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #acacac;
    border-radius: 30px;
    position: absolute;
    top: 1055px;
    right: 0;
    padding: 20px 13px;
    letter-spacing: 1px;
    text-align: center;
}
footer
{
    width: 1522px;
    height: 450px;
    position: absolute;
    top: 1265px;
    left: 0px;
    background-color: #151515;
}
footer .see
{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    padding-top: 86px;
    padding-left: 150px;
    color: white;
}
footer .spe
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 165px;
    left: 206px;
    color: white;
}
footer .spe2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 243px;
    left: 206px;
    color: white;
}
footer .spe3
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 323px;
    left: 206px;
    color: white;
}
footer .in
{
    list-style: none;
    padding-left: 144px;
    padding-top: 18px;
}
footer .follow
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 190px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .follow2
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 270px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .follow3
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    top: 345px;
    left: 206px;
    background-color: #00b3ff;
    cursor: pointer;
    border-radius: 40px;
    padding: 4px 80px;
}
footer .co
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
    letter-spacing: 2px;
    top: 94px;
    left: 919px;
}
footer .mail
{
    position: absolute;
    list-style: none;
    top: 165px;
    right: 546px;
}
footer .mai
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: absolute;
    font-weight: 600;
    letter-spacing: 2px;
    top: 176px;
    left: 991px;
    color: white;
}
footer .arr
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: absolute;
    font-weight: 300;
    letter-spacing: 1px;
    top: 424px;
    left: 608px;
    color: #c9c9c9;
}
footer .dot
{
    position: absolute;
    right: 790px;
    top: 100px;
}